streamlit
langchain_groq 
langchain 
langgraph 
langchain_community==0.2.6
sentence_transformers 
tiktoken 
langchainhub
faiss

llama-parse
qdrant-client
unstructured[md]
fastembed==0.3.2
flashrank
langchain-openai
matplotlib
pandas
yfinance

